.tracks-container {
    width: 70vw;
    transform: scale(0.85);
    transform-origin: 0 0;
}

.track-subdivisions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.track-subdivisions h3 {
    font-size: 18px;
    font-weight: 400;
}
.title-text {
    user-select: none;
    cursor: pointer;
    width: 15%;
    margin-left: 3em;
}

.date-added-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    transform: translateX(-1em);
}

.date-added-text {
    user-select: none;
    cursor: pointer;
    margin-left: 2.5em;
}

.clock-icon-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10%;
    user-select: none;
}

.clock-icon-container > img {
    margin-right: 0.5em;
}

.clock-icon-container > h3 {
    width: 20%;
}

.track-card {
    user-select: none;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.track-card:hover .play-pause {
    opacity: 100;
}
.play-and-title {
    display: flex;
    width: 30%;
}

.play-pause {
    width: 25px;
    height: 25px;
    margin: 1em;
    cursor: pointer;
    opacity: 0;
    transition: 300ms;
}

.track-title {
    font-weight: 400;
}
.date-created {
    font-weight: 400;
    font-size: 16px;
    margin-left: 4em;
    width: 25%;
}

.heart-time-more {
    width: 15%;
    display: flex;
    margin-right: 1em;
}

.heart-time-more h3 {
    font-size: 19px;
    font-weight: 400;
    margin: 0.5em;
}

.heart-time-more img {
    margin: 0.5em;
    width: 25px;
    cursor: pointer;
}

.track-info {
    margin-top: 2em;
    font-size: 16px;
    font-weight: 500;
}
